$primary-color: #F7E5CB;
$secondary-color: #F7E5CB;

.shoppingCard{
    background-color: #F7E5CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.compactCart{
    display: flex;
    flex-direction: column;
    position:fixed;
    top:0;
    right:0;
    // background-color: $primary-color;
}